<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>狗子tsy看号</title>
    <link rel="stylesheet" href="/css/tsw/list.css">
</head>
<body>
    <div class="header">
        <p>
            狗子tsy看号
        </p>
    </div>
    <div class="content">
        <div class="tswList" th:each="tsw: ${tsws}" >
            <dl>
                <dt>标题:</dt>
                <dd th:text="''+${tsw.name}">name</dd>

                <dt>描述:</dt>
                <dd th:text="''+${tsw.brightSpot}">描述</dd>

                <dt>更新时间:</dt>
                <dd th:text="''+${tsw.lastActiveDate}">更新时间</dd>

                <dt>区名:</dt>
                <dd th:text="''+${tsw.areaName}">areaName</dd>

                <dt>手机端:</dt>
                <dd th:text="''+${tsw.clintName}">clintName</dd>

            </dl>
            <p class="tswDividingLine">---------------------</p>
        </div>

    </div>
    <div class="footer">
        <p>
            版权所有：狗子科技信息有限公司
        </p>
        <p>
            备案号：<a href="http://beian.miit.gov.cn" target="_blank" rel="nofollow">苏ICP备7788号</a>
        </p>
    </div>
</body>
</html>